@model Consultorio.Models.ViewModels.Home.EditTurnoViewModel
@using System.Globalization

@{
    ViewData["Title"] = "Modificar turno";
    Layout = "_MainLayout";
}

<link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet">

<script src="~/lib/moment/moment-with-locales.js"></script>
<script src="~/lib/daterangepicker/daterangepicker.js"></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-xl-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center">Modificar mi turno</h1>
                    <hr class="pb-4" />
                    <h4 id="oldTurnoInfo"></h4>
                    <form id="form-turno" method="get" asp-area="" asp-controller="Turnos"
                        asp-action="GetTurnoByPaciente" class="form-material">
                        <div class="row">
                            <div id="nombreContainer" class="form-group col-12 col-sm-6">
                                <input name="nombre" type="text" class="form-control form-control-line">
                                <span class="help-block text-muted">
                                    <small>Ingrese su nombre</small>
                                </span>
                            </div>
                            <div id="apellidoContainer" class="form-group col-12 col-sm-6">
                                <input name="apellido" type="text" class="form-control form-control-line">
                                <span class="help-block text-muted">
                                    <small>Ingrese su apellido</small>
                                </span>
                            </div>
                            <div class="form-group col-12 col-sm-6">
                                <input id="DatePicker" name="dateString" type="text"
                                    class="form-control form-control-line" placeholder="dd/mm/aaaa">
                                <span class="help-block text-muted">
                                    <small>Ingrese el día del turno</small>
                                </span>
                            </div>
                            <div id="horarioContainer" class="form-group col-12 col-sm-6" style="display: none;">
                                <select name="DiaHorarioID" class="form-control form-control-line"></select>
                                <span class="help-block text-muted">
                                    <small>Horario</small>
                                </span>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button onclick="searchTurno(this)" type="button" class="btn btn-dark">Buscar
                                    turno</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="form-confirm" method="post" asp-area="" asp-controller="Turnos" asp-action="UpdateByPaciente">
    @Html.Hidden("ID", "")
    @Html.Hidden("DiaHorarioID", "")
</form>

<form id="form-horarios" method="get" asp-area="" asp-controller="Horarios" asp-action="GetDisponibles">
    @Html.Hidden("dateString", "")
</form>

<script>
    let onEditMode = false;
    $(document).ready(function () {
        $("#navTurno").addClass("active");
        $("#navTurno .nav-link").wrapInner("<b></b>");
        $('#DatePicker').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate: moment().add(1, 'days'),
            maxDate: moment().add(@Constants.MaximosDiasReserva, 'days'),
            isInvalidDate: function (date) {
                if (date.day() == 1 || date.day() == 2 || date.day() == 3 || date.day() == 5)
                    return false;

                return true;
            },
        });
        $('#DatePicker').val('');

        $('#DatePicker').on('change', function () {
            const date = moment($('#DatePicker').val(), 'DD/MM/YYYY');
            const tomorrow = moment().add(1, 'days');
            const maxDate = moment().add(@Constants.MaximosDiasReserva, 'days');
            if ((date.isBefore(tomorrow) || date.isAfter(maxDate))) {
                toastrWarning('Debes seleccionar una fecha válida', 'Error');
                $('#DatePicker').val('');
                return;
            }
            if (onEditMode) {
                searchHorarios($('#DatePicker').val());
            }
        });
    });

    function validateForm() {
        const form = $('#form-turno');
        const nombre = $('input[name="nombre"]').val();
        const apellido = $('input[name="apellido"]').val();
        const date = $('#DatePicker').val();

        if (nombre === '') {
            toastrWarning('Debes ingresar un nombre', 'Error');
            return false;
        } else if (nombre.length > 30) {
            toastrWarning('El nombre no puede tener más de 30 caracteres', 'Error');
            return false;
        } else if (nombre.length < 3) {
            toastrWarning('El nombre no puede tener menos de 3 caracteres', 'Error');
            return false;
        }

        if (apellido === '') {
            toastrWarning('Debes ingresar un apellido', 'Error');
            return false;
        } else if (apellido.length > 30) {
            toastrWarning('El apellido no puede tener más de 30 caracteres', 'Error');
            return false;
        } else if (apellido.length < 3) {
            toastrWarning('El apellido no puede tener menos de 3 caracteres', 'Error');
            return false;
        }

        if (date === '') {
            toastrWarning('Debes seleccionar un día', 'Error');
            return false;
        }
        return true;
    }

    function searchTurno(btn) {
        if (!validateForm()) return;
        $(btn).prop("disabled", true);
        $(btn).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Buscando turno...');
        const form = $('#form-turno');

        $.ajax({
            url: $(form).attr('action'),
            method: $(form).attr('method'),
            data: $(form).serialize(),
            success: function (response) {
                fillData(response.data);
                $(btn).attr('disabled', false);
                $(btn).html('Confirmar nuevo turno');
                $(btn).attr('onclick', 'confirmTurno(this)');
            },
            error: function (response) {
                Swal.fire({
                    title: response.responseJSON.title,
                    text: response.responseJSON.message,
                    icon: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false,
                });
                $(btn).attr('disabled', false);
                $(btn).html('Buscar turno');
            }
        });
    }

    function fillData(data) {
        $('#nombreContainer').hide();
        $('#apellidoContainer').hide();
        $('#horarioContainer').show();
        $('#form-confirm').find('input[name="ID"]').val(data.turno.id);
        $('#oldTurnoInfo').html(`Su turno actual es el día <b>${data.turno.dia}</b> a las <b>${data.turno.hora}</b> hs.`);
        onEditMode = true;
        fillComboHorarios(data.horarios);
    }

    function fillComboHorarios(horarios) {
        const combo = $('select[name="DiaHorarioID"]');
        $(combo).empty();

        if (horarios.length === 0) {
            $(combo).append('<option value="">Sin horarios disponibles para este día</option>');
            $('select[name="DiaHorarioID"]').attr('disabled', true);
            return;
        }

        $(combo).append('<option value="">Seleccione un horario</option>');
        combo.find('option:last-child').attr('selected', true)
        horarios.forEach(function (item) {
            $(combo).append(`<option value="${item.id}">${item.hora}</option>`);
        });
    }

    function searchHorarios(date) {
        $('select[name="DiaHorarioID"]').attr('disabled', true);
        $('select[name="DiaHorarioID"]').empty();
        $('select[name="DiaHorarioID"]').append('<option value="">Cargando...</option>');
        const form = $('#form-horarios');
        $(form).find('input[name="dateString"]').val(date);
        $.ajax({
            url: $(form).attr('action'),
            method: $(form).attr('method'),
            data: $(form).serialize(),
            success: function (response) {
                fillComboHorarios(response.data);
                $('select[name="DiaHorarioID"]').attr('disabled', false);
            },
            error: function (response) {
                toastrWarning(response.responseJSON.message, response.responseJSON.title);
            }
        });
    }

    function confirmTurno(btn) {
        const diaHorarioID = $('select[name="DiaHorarioID"]').val();
        if (diaHorarioID === '') {
            toastrWarning('Debes seleccionar un horario', 'Error');
            return;
        }
        if ($('#DatePicker').val() === '') {
            toastrWarning('Debes seleccionar un día', 'Error');
            return;
        }

        const form = $('#form-confirm');
        $(form).find('input[name="DiaHorarioID"]').val(diaHorarioID);
        $(btn).prop("disabled", true);
        $(btn).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>');
        $.ajax({
            url: $(form).attr('action'),
            method: $(form).attr('method'),
            data: $(form).serialize(),
            success: function (response) {
                Swal.fire({
                    title: response.title,
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.value) {
                        window.location.reload();
                    }
                });
            },
            error: function (response) {
                toastrWarning(response.responseJSON.message, response.responseJSON.title);
                $(btn).attr('disabled', false);
                $(btn).html('Confirmar nuevo turno');
            }
        });
    }
</script>