@model Consultorio.Models.ViewModels.Horarios.IndexViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Horarios";
}

<link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/moment/moment-with-locales.js"></script>
<script src="~/lib/daterangepicker/daterangepicker.js"></script>
<script src="~/js/custom/obrasSociales/index.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Horarios</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active">Horarios</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row d-flex flex-row justify-content-between">
                        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
                            <input id="DatePicker" type="text" class="form-control" style="width: 250px;">
                        </div>
                        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end mt-3 mt-sm-0">
                            <input type="checkbox" id="checkAll" onclick="checkAll(this)" />
                            <label for="checkAll" class="mb-0 mt-2">Seleccionar todos</label>
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive m-t-10">
                        <table id="HorariosTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Hora</th>
                                    <th class="text-center">Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                @foreach (var item in Model.Horarios)
                                {
                                    <tr data-id="@item.ID">
                                        <td class="text-center">@item.Hora.ToString("HH:mm")</td>
                                        <td class="text-center">
                                            <input id="check_@item.ID" name="horarioCheckBox" type="checkbox"
                                                class="form-check" />
                                            <label for="check_@item.ID" class="mb-0 p-0 mt-2"></label>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button onclick="save()" class="btn btn-info btn-rounded">Guardar</button>
                    </div>
                    <form id="form-save" method="POST" asp-area="" asp-controller="Horarios" asp-action="Save">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("horarios", "")
                        @Html.Hidden("dateFrom", "")
                        @Html.Hidden("dateTo", "")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function checkAll(e) {
        let checkboxes = $('input[type="checkbox"]');
        if (e.checked) {
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = true;
            }
        } else {
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }
        }
    }
    moment.locale('es');
    $('#DatePicker').daterangepicker({
        ranges: {
            'Hoy': [moment(), moment()],
            'Este mes': [moment().startOf('month'), moment().endOf('month')],
            'Siguiente mes': [moment().add(1, 'month').startOf('month'), moment().add(1, 'month').endOf('month')],
            'Siguientes 2 meses': [moment().add(1, 'month').startOf('month'), moment().add(2, 'month').endOf('month')],
            'Siguientes 3 meses': [moment().add(1, 'month').startOf('month'), moment().add(3, 'month').endOf('month')],
        },
        locale: {
            applyLabel: "Aceptar",
            cancelLabel: 'Cancelar',
            customRangeLabel: 'Seleccionar rango',
        },
        applyClass: "btn-info",
    });

    function save() {
        let checkboxes = $('input[name="horarioCheckBox"]:checked');
        let ids = [];
        for (let i = 0; i < checkboxes.length; i++) {
            ids.push(checkboxes[i].id.split('_')[1]);
        }
        let date = $('#DatePicker').val().split(' - ');
        let start = date[0];
        let end = date[1];
        $('#horarios').val(ids);
        $('#dateFrom').val(start);
        $('#dateTo').val(end);

        let form = $("#form-save");
        $.ajax({
            url: $(form).attr('action'),
            method: $(form).attr('method'),
            data: $(form).serialize(),
            success: function (response) {
                Swal.fire({
                    title: response.message,
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#1e88e5',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.reload();
                    }
                });
            },
            error: function (errorThrown) {
                Swal.fire({
                    icon: 'error',
                    title: errorThrown.responseJSON.title,
                    html: errorThrown.responseJSON.message + "<br/>" + errorThrown.responseJSON.error,
                    confirmButtonColor: '#1e88e5',
                });
            }
        });
    }
</script>