@model Consultorio.Models.ViewModels.Turnos.IndexViewModel
@using System.Globalization

@{
    ViewData["Title"] = "Inicio";
}

<link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/daterangepicker/daterangepicker.js"></script>
<script src="~/js/custom/turnos/index.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Turnos</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active">Turnos</li>
            </ol>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div id="formContainer" class="modal-dialog">
            <form id="form-turno" method="POST" asp-area="" asp-controller="Turnos" asp-action="AddTurno">
                @Html.AntiForgeryToken()
                <input type="hidden" name="Turno.ID" value="" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title"></h4>
                        <button type="button" class="close" id="btnCloseModal" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-column">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="Turno.Persona.Nombre" class="mb-0"></label>
                                        <input asp-for="Turno.Persona.Nombre" class="form-control" required />
                                        <span asp-validation-for="Turno.Persona.Nombre" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="Turno.Persona.Apellido" class="mb-0"></label>
                                        <input asp-for="Turno.Persona.Apellido" class="form-control" required />
                                        <span asp-validation-for="Turno.Persona.Apellido" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="Turno.Persona.Telefono" class="mb-0"></label>
                                        <input asp-for="Turno.Persona.Telefono" class="form-control" required />
                                        <span asp-validation-for="Turno.Persona.Telefono" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="Turno.Persona.ObraSocialID" class="mb-0"></label>
                                        @Html.DropDownListFor(x => x.Turno.Persona.ObraSocialID, Model.ObrasSociales, new { @class = "form-control" })
                                        <span asp-validation-for="Turno.Persona.ObraSocialID" class="text-danger"></span>
                                    </div><div class="col-12 mb-3">
                                        <label asp-for="Turno.DiaHorarioID" class="mb-0"></label>
                                        @Html.DropDownListFor(x => x.Turno.DiaHorarioID, Model.HorariosDisponibles, new { @class = "form-control" })
                                        <span asp-validation-for="Turno.DiaHorarioID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="button" onclick="sendForm('turno')" class="btn btn-success waves-effect waves-light">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row mr-auto">
                        <h3 class="my-auto card-title">Turnos del día</h3>
                        <input type="text" class="form-control ml-3 my-auto" id="TurnosDatePicker" name="date" style="max-width: fit-content;" />
                    </div>
                    <div class="table-responsive m-t-20">
                        <table id="turnosTable" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th><b>Nombre</b></th>
                                    <th><b>Apellido</b></th>
                                    <th><b>Obra social</b></th>
                                    <th><b>Teléfono</b></th>
                                    <th><b>Hora</b></th>
                                    <th><b>Disponible</b></th>
                                    <th><b>Acción</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var horario in Model.Horarios.OrderBy(x => x.Horario.Hora))
                                {
                                    if (Model.Turnos.Any(x => x.DiaHorario.HorarioID == horario.HorarioID))
                                    {
                                        Turno turno = Model.Turnos.First(x => x.DiaHorario.HorarioID == horario.HorarioID);
                                        <tr data-id="@horario.ID">
                                            <td>@Html.DisplayFor(x => turno.Persona.Nombre)</td>
                                            <td>@Html.DisplayFor(x => turno.Persona.Apellido)</td>
                                            <td>@Html.DisplayFor(x => turno.Persona.ObraSocial.Nombre)</td>
                                            <td>@Html.DisplayFor(x => turno.Persona.Telefono)</td>
                                            <td>@Html.DisplayFor(x => turno.DiaHorario.Horario.Hora)</td>
                                            <td><i class="bi bi-x-lg" style="font-size: 1.3rem"></i></td>
                                            <td class="d-flex flex-row">
                                                <button type='button' class='btn btn-outline-info btn-rounded btn-sm ml-2' onclick='editTurno(@Json.Serialize(turno))'><i class='bi bi-pencil'></i></button>
                                                <button type='button' class='btn btn-outline-danger btn-rounded btn-sm ml-2' onclick='deleteTurno(@horario.ID)'><i class='bi bi-trash3'></i></button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr data-id="@horario.ID">
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>@Html.DisplayFor(x => horario.Horario.Hora)</td>
                                            @if (horario.Disponible)
                                            {
                                                <td>
                                                    <i class="bi bi-check2" style="font-size: 1.5rem"></i>
                                                </td>
                                                <td class="d-flex flex-row">
                                                    <button type='button' class='btn btn-info btn-rounded btn-sm ml-2' onclick='addTurno(@horario.ID)'><i class='bi bi-plus-lg'></i></button>
                                                    <button type='button' class='btn btn-outline-danger btn-rounded btn-sm ml-2' onclick='deleteHorario(@horario.ID)'><i class='bi bi-trash3'></i></button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <i class="bi bi-x-lg" style="font-size: 1.3rem"></i>
                                                </td>
                                                <td>-</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <form id="form-searchTurnosByDate" method="get" asp-area="" asp-controller="Turnos" asp-action="SearchByDate">
            @Html.Hidden("dateString", "")
        </form>
        <form id="form-searchHorarios" method="get" asp-area="" asp-controller="Turnos" asp-action="GetHorariosDisponibles">
            @Html.Hidden("diaHorarioID", "")
            @Html.Hidden("dateString", "")
        </form>
        <form id="form-deleteTurno" method="post" asp-area="" asp-controller="Turnos" asp-action="DeleteTurno">
            @Html.AntiForgeryToken()
            @Html.Hidden("diaHorarioID", "")
        </form>
        <form id="form-deleteHorario" method="post" asp-area="" asp-controller="Turnos" asp-action="DeleteHorario">
            @Html.AntiForgeryToken()
            @Html.Hidden("diaHorarioID", "")
        </form>
    </div>
</div>