@model Consultorio.Models.ViewModels.Pacientes.DetallesViewModel
@using System.Globalization

@{
    ViewData["Title"] = "Pacientes";
    DateTime today = DateTime.Now.AddHours(-3);
    int edad = 0;
    edad = today.Year - Model.Paciente.FechaNacimiento.Year;
    if (Model.Paciente.FechaNacimiento.Date > today.AddYears(-edad))
        edad--;
}

<link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/moment/moment-with-locales.js"></script>
<script src="~/lib/daterangepicker/daterangepicker.js"></script>
<script src="~/js/custom/pacientes/detalles.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Pacientes</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a></li>
                <li class="breadcrumb-item active">Detalles</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="col-12">
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-body">
                                            <h3 class="box-title">Información del paciente</h3>
                                            <hr class="m-t-0 m-b-20">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-md-right col-5" style="font-size: 20px">Nombre:</label>
                                                        <div class="col-7 pr-0">
                                                            <p class="form-control-static d-flex flex-row" style="font-size: 20px">
                                                                <b id="pacienteNombre">@Html.DisplayFor(x => x.Paciente.Nombre)</b>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editDatos('Nombre', this)"><i class="bi bi-pencil-square"></i></button>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="saveDatos('Nombre', this)" style="display: none;"><i class="bi bi-check2-circle" style="font-size: 20px; color: limegreen"></i></button>
                                                                <span class="spinner-border spinner-border-sm align-self-center ml-2" role="status" aria-hidden="true" style="display: none"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-md-right col-5" style="font-size: 20px">Apellido:</label>
                                                        <div class="col-7 pr-0">
                                                            <p class="form-control-static d-flex flex-row" style="font-size: 20px">
                                                                <b id="pacienteApellido">@Html.DisplayFor(x => x.Paciente.Apellido)</b>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editDatos('Apellido', this)"><i class="bi bi-pencil-square"></i></button>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="saveDatos('Apellido', this)" style="display: none;"><i class="bi bi-check2-circle" style="font-size: 20px; color: limegreen"></i></button>
                                                                <span class="spinner-border spinner-border-sm align-self-center ml-2" role="status" aria-hidden="true" style="display: none"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-md-right col-5">Teléfono:</label>
                                                        <div class="col-7 pr-0">
                                                            <p class="form-control-static d-flex flex-row">
                                                                <b id="pacienteTelefono">@Html.DisplayFor(x => x.Paciente.Telefono)</b>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editDatos('Telefono', this)"><i class="bi bi-pencil-square"></i></button>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="saveDatos('Telefono', this)" style="display: none;"><i class="bi bi-check2-circle" style="font-size: 20px; color: limegreen"></i></button>
                                                                <span class="spinner-border spinner-border-sm align-self-center ml-2" role="status" aria-hidden="true" style="display: none"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-md-right col-5">Dirección:</label>
                                                        <div class="col-7 pr-0">
                                                            <p class="form-control-static d-flex flex-row">
                                                                <b id="pacienteDireccion">@Html.DisplayFor(x => x.Paciente.Direccion)</b>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editDatos('Direccion', this)"><i class="bi bi-pencil-square"></i></button>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="saveDatos('Direccion', this)" style="display: none;"><i class="bi bi-check2-circle" style="font-size: 20px; color: limegreen"></i></button>
                                                                <span class="spinner-border spinner-border-sm align-self-center ml-2" role="status" aria-hidden="true" style="display: none"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-md-right col-5">Localidad:</label>
                                                        <div class="col-7 pr-0">
                                                            <p class="form-control-static d-flex flex-row">
                                                                <b id="pacienteLocalidad">@Html.DisplayFor(x => x.Paciente.Localidad)</b>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editDatos('Localidad', this)"><i class="bi bi-pencil-square"></i></button>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="saveDatos('Localidad', this)" style="display: none;"><i class="bi bi-check2-circle" style="font-size: 20px; color: limegreen"></i></button>
                                                                <span class="spinner-border spinner-border-sm align-self-center ml-2" role="status" aria-hidden="true" style="display: none"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="control-label text-md-right col-5">Obra social:</label>
                                                        <div class="col-7 pr-0">
                                                            <p class="form-control-static d-flex flex-row">
                                                                <b id="pacienteObraSocial" data-id="@Model.Paciente.ObraSocialID">@(Model.Paciente.ObraSocial is not null ? Model.Paciente.ObraSocial.Nombre : "")</b>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editObraSocial(this)"><i class="bi bi-pencil-square"></i></button>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="saveDatos('ObraSocial', this)" style="display: none;"><i class="bi bi-check2-circle" style="font-size: 20px; color: limegreen"></i></button>
                                                                <span class="spinner-border spinner-border-sm align-self-center ml-2" role="status" aria-hidden="true" style="display: none"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row align-items-center">
                                                        <label class="control-label text-md-right col-5">Fecha nac.<br />(@edad años): </label>
                                                        <div class="col-7 pr-0">
                                                            <p class="form-control-static d-flex flex-row">
                                                                <b id="pacienteFechaNacimiento">@Model.Paciente.FechaNacimiento.ToString("dd/MM/yyyy")</b>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editFechaNacimiento(this)"><i class="bi bi-pencil-square"></i></button>
                                                                <button class="btn btn-sm waves-effect waves-light" type="button" onclick="saveDatos('FechaNacimiento', this)" style="display: none;"><i class="bi bi-check2-circle" style="font-size: 20px; color: limegreen"></i></button>
                                                                <span class="spinner-border spinner-border-sm align-self-center ml-2" role="status" aria-hidden="true" style="display: none"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-column flex-sm-row">
                        <h2 class="card-title text-center mb-sm-0">Historias clínicas</h2>
                        <button class="btn btn-sm dark-button btn-dark text-white waves-effect waves-light ml-4 align-self-center" type="button" onclick="addHC()">Agregar <i class="bi bi-plus-lg"></i></button>
                    </div>
                    <hr />
                    <div class="row">
                        <div id="divNewHC" class="col-12 col-sm-6 col-md-4 col-lg-3" style="display: none">
                            <form method="post" asp-area="" asp-controller="Pacientes" asp-action="SaveHC" id="form-saveHC">
                                @Html.AntiForgeryToken()
                                @Html.Hidden("PacienteID", Model.Paciente.ID)
                                <div class="card card-outline-inverse">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white">
                                            <input type="text" id="DatePicker" name="Fecha" class="form-control dark-input bg-dark text-white" value="@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")" />
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <textarea name="Descripcion" id="newDescription" class="form-control card-text" rows="5"></textarea>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between px-3 pb-3">
                                        <button type="button" class="btn btn-sm btn-danger" onclick="resetNewHC()">Cancelar</button>
                                        <button type="button" class="btn btn-sm btn-inverse" onclick="saveHC()">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        @foreach (var item in Model.Paciente.HistoriasClinicas.OrderByDescending(x => x.Fecha).ThenByDescending(x => x.Paciente.CreatedAt))
                        {
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="card card-outline-inverse" data-id="@item.ID">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white d-flex flex-row">
                                            <span class="dateHC">@item.Fecha.ToString("dd/MM/yyyy")</span>
                                            <button class="btn btn-sm waves-effect waves-light" type="button" onclick="editHC(@item.ID)"><i class="bi bi-pencil-square text-white"></i></button>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">@Html.DisplayFor(x => item.Descripcion)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    
        <form id="form-datos" asp-area="" asp-controller="Pacientes" asp-action="UpdateDatos" method="post">
            @Html.AntiForgeryToken()
            @Html.Hidden("pacienteID", Model.Paciente.ID)
            @Html.Hidden("datoToUpdate", "")
            @Html.Hidden("datoValue", "")
        </form>
        <form id="form-editHC" asp-area="" asp-controller="Pacientes" asp-action="UpdateHC" method="post">
            @Html.AntiForgeryToken()
            @Html.Hidden("ID", "")
            @Html.Hidden("Fecha", "")
            @Html.Hidden("Descripcion", "")
        </form>
        
        <form id="form-deleteHC" asp-area="" asp-controller="Pacientes" asp-action="DeleteHC" method="post">
            @Html.AntiForgeryToken()
            @Html.Hidden("id", "")
        </form>
    </div>
</div>

<style>
    .dark-input {
        background: #2f3d4a !important;
        border-color: #2f3d4a !important;
    }
    .dark-button {
        background: #2f3d4a !important;
        border-color: #2f3d4a !important;
    }
</style>

<script>
    function editObraSocial(btn) {
        let obraSocial = $('#pacienteObraSocial').data('id');
        $(btn).hide();
        $(btn).next().show();
        $('#pacienteObraSocial').hide();
        $('#pacienteObraSocial').after(`@Html.DropDownListFor(x => x.Paciente.ObraSocialID, Model.ObrasSociales, new { @class = "form-control", @style = "display: none", @id = "newObraSocial" })`);
        $('#newObraSocial').val(obraSocial);
        $('#newObraSocial').show();
        $('#newObraSocial').focus();
    }

    function addHC() {
        $('#DatePicker').val('@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")');
        $('#newDescription').val('');
        $('#divNewHC').show();
    }
    function resetNewHC() {
        $('#divNewHC').hide();
        $('#DatePicker').val('@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")');
        $('#newDescription').val('');
    }
</script>